@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Niramit", sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* color: #05fc70; */
  color: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 !important;
  padding: 5px !important;
  max-width: 2460px !important;
}
